*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    line-height: 1.4;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
.navcontainer{
    width: 100%;
    height: 55px;
    box-shadow: 1px 2px 2px rgb(207, 207, 207);
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.logoimg{
    width: 55px;
}
.logo_icon{
    color: green;
    font-weight: 700;
}
/* .logoname{
    position: relative;
    bottom: 5px;
} */

.bar_icon:hover{
    /* box-shadow: 0px 0px 2px black; */
    color: gray;
}
.midcontainer{
    width: 100%;
    height: 24rem;
    display: flex;
    /* justify-content: space-around;
    align-items: center; */
    
}
.main_image{
    width: 45%;
    display: flex;
    justify-content: right;
    align-items: center;
}
#main_image{
    width: 55%;
    height: 75%;
    border-radius: 50%;
    margin: 30px 30px 0px 0px;
}
.text_container{
    width: 55%;
    /* height: 24rem; */
    padding-left: 40px;
    display: flex;
    align-items: center;
}
.text_container span{
    background: green;
    color: white;
    padding: 3px;
    font-size: large;
}

.text_container h1{
    margin: 20px 0px 5px 0px;
    font-weight: bold;
    font-size: 45px;
}
.explore_btn{
    margin-top: 20px;
    background: orange;
    padding: 5px 9px;
    border: none;
    box-shadow: 1px 1px 1px black;
    transition: 0.2s ease-in-out;
}
.explore_btn:hover{
    background: rgb(221, 144, 2);
    transition: 0.2s ease-in-out;
}

.featurecontainer{
    width: 70vw;
    margin: auto;
    /* height: 100px; */
   
    display: flex;
    justify-content: space-around;
   
}
hr{
    color: gray;
    box-shadow: 1px 2px 2px rgb(207, 207, 207);
}
.discountvoucher{
    width: 200px;
    height: 60px;
    /* font-weight: bold; */
}
.featurecontainer span{
    font-weight:800;
    margin-left: 10px;
    /* display: inline-block; */
    position: absolute;
}
.offerimg{
    width: 45px;
}
.homedelivery{
    width: 200px;
    height: 60px;
}
.healthyfood{
    width: 200px;
    height: 60px;
}

.menu{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 50px 0  ;
    align-items: center;
}
.menubar{
    background: green;
    color: white;
    padding: 5px;
    box-shadow: 0px 1px 1px black;
    /* margin-bottom: 20px; */
    align-self: center;
}
.menu h3{
    text-align: center;
}
.menubar:hover{
    background-color: rgb(0, 90, 0);
}
.grid {
    /* margin-top: 100px; */
    margin: 0 5%;
    /* width: 100%; */
    height: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 230px 230px 230px;
    
  }
.item1 {
    grid-column-start:1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .item2 {
    grid-row-start: 1;
    grid-row-end: 3;
    
  }
  /*
  .item3 {
    grid-area: I3;
    background-color: aqua;
  }*/
  .item5 {
    grid-column-start:2;
    grid-column-end: 4;

  }
  /*
  .item5 {
    background-color: aqua;
    grid-column-start:1;
    grid-column-end: 3;
  }*/
  .item6 {
    grid-row-start: 2;
    grid-row-end: 4;
  } 
  
  .grid img{
    width: 100%;
    height: 100%;
    border-radius: 7%;
    animation: 0.2s ease-in-out;
  }
  .grid img:hover{
    transform: scale(1.03);
    animation: 0.2s ease-in-out;
    border: 1px solid gray;
    box-shadow: 1px 1px 1px green;
  }

/* footer Section */

.footer_container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 2%;
}
/* .link_lists{
    width: 10%;
} */
.link_lists h2{
    font-size: 100%;
    margin-bottom: 5px;
    color: gray;
}
.link_lists ul{
   
    list-style: none;
}
.link_lists ul li{
    font-size: 14px;
}
.feedback h2{
    font-size: 100%;
    margin-bottom: 5px;
    color: gray;
}
.feedback input{
    margin-bottom: 5px;
    padding: 5px 10px;
}

  /* for responsive section*/
  @media (max-width: 786px){
   
    .featurecontainer{
       display: flex;
       flex-direction: column;
    }
    .midcontainer{
        width: 100%;
        height: 40rem;
        display: flex;
        /* justify-content: space-around;
        align-items: center; */
        flex-direction: column;
        justify-content: center;        
    }
    .text_container{
        width: 100%;
        height: 100%;
        padding-left: 15%;
    }
    .text_container span{
        background: green;
        color: white;
        padding: 3px;
        font-size: medium;
    }
    .main_image{
        /* margin: 100px 0 0 0; */
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #main_image{
        width: 50%;
        height: 60%;
        border-radius: 50%;
        margin: 30px 30px 0px 0px;
    }
    .grid {
        display: grid;
        gap: 5px;
        grid-template-rows: 100px 100px 100px;
      }
      .footer_container .logoimg{
        width: 35px;
      }
      .footer_container .logoname{
        font-size: 15px;
      }
      .feedback h2{
        text-align: center;
      }
      .feedback input{
        /* position: relative; */
        margin-left: 2px;
      padding: 2px;
       width: 5rem;
    }

    .link_lists ul li{
        font-size: 10px;
    }
    /* .link_lists h2{
        font-size: 100%;
    } */
  }